<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-3" style="display: flex; justify-content: center; align-items: center; min-height: 80dvh;">
        <form method="post" action="{% url 'login:login' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <!-- Error Display Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <div>
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- Error Display End -->
            <div class="mb-3">
                <label for="username">사용자ID</label>
                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:''|lower }}" style="width:230px;" required>
                <div class="invalid-feedback">
                    사용자ID를 입력하세요.
                </div>
            </div>
            <div class="mb-3">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}" style="width:230px;" required>
                <div class="invalid-feedback">
                    비밀번호를 입력하세요.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
