<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
 table{ border-collapse : collapse; }  /*이중선 제거*/
 th,td{
      width: 300px;
      height: 50px;
      text-align: center;
      border: 1px solid #000;

    }
  </style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    {% if not user.is_authenticated %}
        <a href="{% url 'login:login' %}">로그인</a>
        <a href="{% url 'login:signup' %}">회원가입</a>
    {% else %}
        <a href="{% url 'login:logout' %}">{{ user.nickname }}({{ user.School }})(로그아웃)</a>
    {% endif %}
    <div>학생커뮤니티</div>
    <table>
        <tr>
            <th class="school">로딩중...</th>
        </tr>
        <tr>
            <th class="date">로딩중...</th>
        </tr>
        <tr>
            <th class="menu">
                로딩중...
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <th class="schedule">로딩중...</th>
        </tr>
    </table>
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'pyms:ajax_menu' %}",
                data: {
                    'school': '{{ user.School }}',
                    'grade': '{{ user.Grade }}',
                    'cls': '{{ user.Class }}'
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function(response) {
                    document.getElementsByClassName('school')[0].innerHTML = response.school
                    document.getElementsByClassName('date')[0].innerHTML = response.date;
                    document.getElementsByClassName('menu')[0].innerHTML = response.menu.toString().replaceAll(',', '<br>');
                    console.log(response.schedule)
                    {% if user.is_authenticated %}
                    document.getElementsByClassName('schedule')[0].innerHTML = "{{ user.Grade }}학년 {{ user.Class }}반 시간표<br>" + response.schedule.toString().replaceAll(',', '<br>');
                    {% else %}
                    document.getElementsByClassName('schedule')[0].innerHTML = "";
                    {% endif %}
                }});
        });
    </script>
</body>
</html>