{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="side-bar">
            <div class="user-actions">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login:login' %}">로그인</a>
                    <a href="{% url 'login:signup' %}">회원가입</a>
                {% else %}
                    <a href="{% url 'login:logout' %}" class="user-info">{{ user.nickname }}({{ user.School }})(로그아웃)</a>
                {% endif %}
            </div>
            <div class="info-table">
                <table>
                    <tr>
                        <th class="school">로딩중...</th>
                        <th class="date">로딩중...</th>
                        <th class="menu">로딩중...</th>
                    </tr>
                </table>
            </div>
            <div class="schedule-table">
                <table style="width: 200px">
                    <tr>
                        <th class="notion">로딩중...</th>
                    </tr>
                    <tr>
                        <th class="schedule">로딩중...</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="main-content">
            {% if question_list %}
                <ul class="question-list">
                    {% for question in question_list %}
                        <li><a href="{% url 'pyms:question_detail' question.id%}">{{ question.subject }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>질문이 없습니다.</p>
            {% endif %}
            <div><a class="question_write" href="{% url 'pyms:question_write' %}">질문 등록하기</a></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'pyms:ajax_menu' %}",
                data: {
                    'school': '{{ user.School }}',
                    'grade': '{{ user.Grade }}',
                    'cls': '{{ user.Class }}'
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function(response) {

                    console.log(response.schedule);
                    {% if user.is_authenticated %}
                        $('.notion').html("{{ user.Grade }}학년 {{ user.Class }}반 시간표");
                        $('.schedule').html(response.schedule.join('<br>'));

                        $('.school').text(response.school);
                        $('.date').text(response.date);
                        $('.menu').html(response.menu.join('<br>'));
                    {% else %}
                        $('.school').html('로그인해주세요!');
                        $('.date').html('');
                        $('.menu').html('');
                        $('.schedule').html('');
                        $('.notion').html('');
                    {% endif %}
                }
            });
        });
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
