{% extends 'base.html' %}
{% block content %}
<div class="question-details" style="position: relative; top: 100px;">
    <h2>{{ question.subject }}</h2>
    <h3>{{ question.School }} {{ question.Grade }}학년| {{ question.nickname }} {% if question.is_teacher %}선생님{% endif %}</h3>
    <h5>{{ question.create_date }}</h5>
    <div class="my-3">
        <a href="javascript:void(0)" data-uri="{% url 'pyms:question_vote' question.id  %}"
           class="recommend btn btn-sm btn-outline-secondary"> 추천
            <span class="badge rounded-pill bg-success">{{question.voter.count}}</span>
        </a>
        {% if request.user == question.user %}
        <a href="{% url 'pyms:question_modify' question.id  %}"
           class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
   data-uri="{% url 'pyms:question_delete' question.id  %}">삭제</a>
        {% endif %}
    </div>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
    <section id="messages">
        <ul>
            {% for message in messages %}
            <li class="{{ message.tags }}">
                <p>{{ message }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    </div>
    {% endif %}


<div class="content">{% if question.imgfile %}<img src="{{ question.imgfile.url }}" width="200"><br>{% endif %}{{ question.content }}</div>
    <div class="answers">
        <form action="{% url 'pyms:answer_write' question.id %}" method="post" class="answer-form my-3">
            {% csrf_token %}
            <!-- 오류표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <div>
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->
            <h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
            {% for answer in question.answer_set.all %}
                <div class="answer" id="answer_{{ answer.id }}">
                    <p>{{ answer.School }} {{ answer.Grade }}학년| {{ answer.nickname }}: {{ answer.content }}</p>
                    <div class="my-3">
                    <a href="javascript:void(0)" data-uri="{% url 'pyms:answer_vote' answer.id  %}"
                       class="recommend btn btn-sm btn-outline-secondary"> 추천
                        <span class="badge rounded-pill bg-success">{{answer.voter.count}}</span>
                    </a>
                            {% if request.user == answer.user %}
                    <a href="{% url 'pyms:answer_modify' answer.id  %}"
                       class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'pyms:answer_delete' answer.id  %}">삭제</a>
                    {% endif %}
                    </div>
                {% if answer.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨: </div>
                    <div>{{ answer.modify_date }}</div>
                </div>
                {% endif %}
                </div>

            {% endfor %}
            <div class="form-group">
                <label for="content">답변내용</label>
                <textarea name="content" id="content" class="form-control" rows="5"></textarea>
            </div>
            <input type="submit" value="답변등록" class="btn btn-primary">
        </form>
    </div>
</div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script>
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
{% endblock %}
